browser=chrome
headless=false
base.url=https://www.flipkart.com
username=your_email@gmail.com
password=your_password
phone.number=9782017696
implicit.wait=10
explicit.wait=15
page.load.timeout=30
screenshot.path=./screenshots/
report.path=./reports/ExtentReport.html
